<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.bankerarea.mapper.IdeaMapper">
		<update id="increaseReadCnt" parameterType="int">
			UPDATE IDEA
			SET READ_COUNT = READ_COUNT + 1
			WHERE IDEA_SEQ = #{idea_seq}
		</update>
		<select id="getIdeaList" resultType="com.bankerarea.vo.IdeaVO">
			SELECT *
			FROM IDEA
		</select>
		<select id="getIdea" resultType="com.bankerarea.vo.IdeaVO" parameterType="int">
			SELECT * 
			FROM IDEA
			WHERE IDEA_SEQ = #{idea_seq}
		</select>
		<select id="getGoodsList" resultType="com.bankerarea.vo.GoodsVO" parameterType="int">
			SELECT * 
			FROM GOODS
			WHERE IDEA_SEQ = #{idea_seq}
		</select>
		<select id="getLikey_count" resultType="int" parameterType="int">
			SELECT count(*) 
			FROM LIKEY
			WHERE IDEA_SEQ = #{idea_seq}
		</select>
		<insert id="insertIdea" parameterType="com.bankerarea.vo.IdeaVO">
			INSERT INTO IDEA(project_name, short_description, category, banker_id) 
			VALUES(#{project_name}, #{short_description}, #{category}, #{banker_id}) 
		</insert>
		<insert id="insertGoods" parameterType="com.bankerarea.vo.GoodsVO">
			INSERT INTO GOODS(goods_type, open_status, content, price, idea_seq) 
			VALUES(#{goods_type}, #{open_status}, #{content}, #{price}, #{idea_seq}) 
		</insert>
		<select id="getCurrentIdea_seq" resultType="int">
			SELECT MAX(IDEA_SEQ)
			FROM IDEA
		</select>
		<update id="updateIdea" parameterType="com.bankerarea.vo.IdeaVO"> 
			UPDATE IDEA 
			SET project_name=#{project_name}, short_description=#{short_description}, category=#{category} 
			WHERE idea_seq=#{idea_seq} 
		</update>
		<update id="updateGoods" parameterType="com.bankerarea.vo.GoodsVO"> 
			UPDATE GOODS 
			SET open_status=#{open_status}, content=#{content}, price=#{price} 
			WHERE goods_seq=#{goods_seq}
		</update>
		<select id="getYourLikeyList" parameterType="String" resultType="com.bankerarea.vo.IdeaVO">
			SELECT IDEA.*FROM IDEA, LIKEY
			WHERE IDEA.idea_seq=LIKEY.idea_seq
			AND LIKEY.id = #{id} 
		</select>
		<select parameterType="String" id="getMyIdeaList" resultType="com.bankerarea.vo.IdeaVO">
			SELECT *
			FROM IDEA
			WHERE banker_id=#{id} 
		</select>
		<select parameterType="com.bankerarea.vo.SearchVO" id="searchTypeIdeaList" resultType="com.bankerarea.vo.IdeaVO">
			SELECT *
			FROM IDEA 
			<if test="type.equals('searchWord')">
				WHERE project_name LIKE '%${keyword}%'
				OR short_description LIKE '%${keyword}%' 
			</if>
			<if test="type.equals('category')">
				WHERE category LIKE '%${keyword}%' 
			</if>
			<if test="type.equals('banker')">
				WHERE banker_id LIKE '%${keyword}%' 
			</if>
		</select>
		<delete id="deleteIdea" parameterType="int">
			DELETE FROM IDEA
			WHERE IDEA_SEQ = #{idea_seq}
		</delete>
	</mapper>
	
