<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.bankerarea.mapper.PurchaseMapper">
		<select id="getPurchase" resultType="com.bankerarea.vo.PurchaseVO">
			SELECT *
			FROM PURCHASE
			WHERE BUYER_ID=#{buyer_id}
			AND GOODS_SEQ=#{goods_seq}
		</select>
	</mapper>